<form ng-controller="ProductsCtrl">
    <div class="form-group">
        <label for="sku">SKU</label>
        <input type="text" class="form-control" ng-model="products.sku" placeholder="SKU">

        <label for="sku">Nombre</label>
        <input type="text" class="form-control" ng-model="products.name" placeholder="Nombre">
        <label for="sku">Tipo</label>

        <div class="checkbox-demo-row">
            <div class="input-demo radio-demo row">
                <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap"></label>
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="products.type" value="basic">
                    <span>Básico</span>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap"></label>
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" ng-model="products.type" value="discount">
                    <span>Descuento</span>
                </div>
                <div class="col-md-4">
                    <label class="radio-inline custom-radio nowrap"></label>
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" ng-model="products.type" value="cupon">
                    <span>Cupón</span>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="createProduct()">Guardar</button>
</form>