<div class="modal-content" ng-controller="ProductsCtrl">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel">Crear Nuevo Miembro</h4>
    </div>
    <div class="modal-body">
        <qr text="qrcodeString" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addMember(this)">Guardar</button>
    </div>
</div>