<div ng-controller="ProductsCtrl">
    <div class="add-row-editable-table">
        <buttaon class="btn btn-primary" ng-click="addProducts()">Crear nuevo Producto</button>
    </div>
    <div class="horizontal-scroll">
        <table class="table table-hover">
            <thead>
                <tr class="black-muted-bg">

                    <th>SKU</th>
                    <th>Nombre</th>
                    <th>Partner</th>
                    <th>Tipo</th>
                    <th>Categoria</th>
                    <th class="align-right">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in products" class="no-top-border">

                    <td>{{item.sku}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.partner.name}}</td>
                    <td>{{item.type}}</td>
                    <td>{{item.category.name}}</td>
                    <td class="align-right">

                        <button class="btn btn-xs btn-primary btn-raised">view</button>
                        <button class="btn btn-xs btn-warning btn-raised" ng-click="edit(key)">edit</button>
                        <button class="btn btn-xs btn-danger btn-raised" ng-click="delete(key)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>