<div ng-controller="MembersCtrl">

    <div class="add-row-editable-table">
        <button class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/members/widgets/member.add.modal.html', 'lg')">Agregar nuevo miembro</button>
    </div>
    <div class="horizontal-scroll">
        <table class="table table-hover">
            <thead>
                <tr class="black-muted-bg">
                    <th>Credencial</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>email</th>

                    <th class="align-right">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in members" class="no-top-border">
                    <td>{{key}}</td>
                    <td>{{item.dni}}</td>
                    <td>{{item.firstname}}</td>
                    <td>{{item.lastname}}</td>
                    <td>{{item.email}}</td>
                    <td class="align-right">

                        <button class="btn btn-xs btn-primary btn-raised">view</button>
                        <button class="btn btn-xs btn-warning btn-raised" ng-click="edit(key)">edit</button>
                        <button class="btn btn-xs btn-danger btn-raised" ng-click="delete(key)">delete</button>
                        <button class="btn btn-xs btn-success btn-raised" ng-click="facebook(item.credential.accessToken)">datos facebook</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>