<div ng-controller="TransactionsSalesCtrl">

    <div class="horizontal-scroll">
        <table class="table table-hover">
            <thead>
                <tr class="black-muted-bg">

                    <th>codigo</th>
                    <th>Miembro</th>
                    <th>Partner</th>
                    <th>Monto</th>
                    <th>Utilizado</th>

                    <th class="align-right">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in transactions" class="no-top-border" ng-if="item.item.type != 'discount'">
                    <div ng-if="!item.type.discount">
                        <td>{{key}}</td>
                        <td><a ng-click="getMemeber(item.member)">{{item.member}}</a></td>
                        <td>{{item.item.partner.code}}</td>
                        <td>${{item.item.details.price.discountPrice}}</td>
                        <td>{{item.used}}</td>
                    </div>

                </tr>
            </tbody>
        </table>
    </div>

</div>