<form>
    <div class="form-group">
        <label for="text1">Texto 1</label>
        <input type="text" class="form-control" ng-model="conf.texts.text1" placeholder="Texto 1">
        <label for="text2">Texto 2</label>
        <input type="text" class="form-control" ng-model="conf.texts.text2" placeholder="Texto 2">
        <label for="text3">Texto 3</label>
        <input type="text" class="form-control" ng-model="conf.texts.text3" placeholder="Texto 3">
        <label for="text4">Texto 4</label>
        <input type="text" class="form-control" ng-model="conf.texts.text4" placeholder="Texto 4">
        <label for="text5">Texto 5</label>
        <input type="text" class="form-control" ng-model="conf.texts.text5" placeholder="Texto 5">
    </div>

    <button type="button" class="btn btn-primary" ng-click="edit('texts')">Guardar</button>
</form>