<form ng-controller="ConfigCtrl">
    <div class="form-group">
        <label for="Title">TITLE</label>
        <input type="text" class="form-control" ng-model="conf.landing.title" placeholder="title">
        <label for="h1">H1</label>
        <input type="text" class="form-control" ng-model="conf.landing.h1" placeholder="h1">
        <label for="h2">H2</label>
        <input type="text" class="form-control" ng-model="conf.landing.h2" placeholder="h2">
        <label for="h1">H3</label>
        <input type="text" class="form-control" ng-model="conf.landing.h3" placeholder="h3">
        <label for="h1">H4</label>
        <input type="text" class="form-control" ng-model="conf.landing.h4" placeholder="h4">
        <label for="h1">H5</label>
        <input type="text" class="form-control" ng-model="conf.landing.h5" placeholder="h5">
        <label for="h1">H6</label>
        <input type="text" class="form-control" ng-model="conf.landing.h6" placeholder="h6">
    </div>

    <button type="button" class="btn btn-primary" ng-click="edit('landing')">Guardar</button>
</form>