<uib-accordion>
    <uib-accordion-group heading="CATEGORIAS" panel-class="bootstrap-panel accordion-panel panel-default">

        <form class="row">
            <div class="form-group">
                <div ng-repeat="c in categories">
                    <div class="col-xs-3 col-md-2">
                        <label for="name">{{c.name}}</label>
                        <input type="number" class="form-control" ng-model="c.order" placeholder="orden">
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-sm" ng-click="changeOrderCategories()">Guardar</button>
    </uib-accordion-group>
    
    <uib-accordion-group heading="PARTNERS" panel-class="bootstrap-panel accordion-panel panel-default">
    
        <form class="row">
            <div class="form-group">
                <div ng-repeat="c in partners">
                    <div class="col-xs-3 col-md-2">
                        <label for="name">{{c.name}}</label>
                        <input type="number" class="form-control" ng-model="c.order" placeholder="orden">
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-sm" ng-click="changeOrderPartners()">Guardar</button>
        </uib-accordion-group>
    
    <uib-accordion-group heading="BENEFICIOS" panel-class="bootstrap-panel accordion-panel panel-default">
        
        <form class="row">
            <div class="form-group">
                <div ng-repeat="c in products">
                    <div class="col-xs-3 col-md-2">
                        <label for="name">{{c.name}}</label>
                        <input type="number" class="form-control" ng-model="c.order" placeholder="orden">
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-sm" ng-click="changeOrderBenefits()">Guardar</button>
    </uib-accordion-group>
</uib-accordion>