<form>
    <div class="form-group">
        <label for="facebook">Facebook</label>
        <input type="text" class="form-control" ng-model="conf.social.facebook" placeholder="facebook">
        <label for="facebook">Twitter</label>
        <input type="text" class="form-control" ng-model="conf.social.twitter" placeholder="twitter">
        <label for="snapchat">SnapChat</label>
        <input type="text" class="form-control" ng-model="conf.social.snapchat" placeholder="Sanpchat">
        <label for="googleplus">Google+</label>
        <input type="text" class="form-control" ng-model="conf.social.googleplus" placeholder="Google+">
    </div>

    <button type="button" class="btn btn-primary" ng-click="edit('social')">Guardar</button>
</form>