<form ng-controller="CampaingCtrl">
    <div class="row">
        <div class="col-md-12">
            <label for="name">Nombre de la Campaña</label>
            <input type="text" ng-model="name" class="form-control" placeholder="Nombre de la campaña">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="sex">Sexo</label>
            <select ng-value="sex" class="form-control">
                <option value="all">Todos</option>
                <option value="male">Masculino</option>
                <option value="feme">femenino</option>
            </select>
        </div>
    
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="address">Dirección</label>
            <input type="text" ng-model="address" class="form-control" placeholder="Centro de la campaña ej(ej: salta 153, Rosario, Santa Fe, Argentina)">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="kmtrs">Distancia en Mtrs a la redonda</label>
            <input type="number" ng-model="mtrs" class="form-control" placeholder="ej: 2150 = 2 ktrs y 150 mtrs">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>
                <button class="btn btn-info" ng-click="geolocalizar()">Ver Geolocalizacion</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="date">Fecha de la Campaña</label>
            <input type="date" class="form-control" ng-model="date">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="time">Hora</label>
            <input type="number" class="form-control" ng-model="time" placeholder="4 digitos (ej: 1635 para las 16:35)">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary" ng-click="saveCampain()">Guardar Campaña</button>
        </div>
    </div>
</form>