<form>
    <div class="row">
        <div class="col-md-12">
            <label for="campaignName">Nombre de la Campaña</label>
            <input type="text" ng-model="campaignName" class="form-control" placeholder="Nombre de la campaña">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="sex">Sexo</label>
            <input type="text" ng-model="campaignName" class="form-control" placeholder="Nombre de la campaña">
        </div>
        <div class="col-md-6">
            <label for="sex">Interes Principal</label>
            <input type="text" ng-model="campaignName" class="form-control" placeholder="Nombre de la campaña">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="sex">Provincia</label>
            <input type="text" ng-model="campaignName" class="form-control" placeholder="Nombre de la campaña">
        </div>
        <div class="col-md-6">
            <label for="sex">Ciudad</label>

            <input type="text" ng-model="campaignName" class="form-control" placeholder="Nombre de la campaña">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="date">Fecha de la Campaña</label>
            <input type="date" class="form-control" ng-model="date">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button  class="btn btn-primary" ng-click="saveCampain()">Guardar Campaña</button>
        </div>
    </div>
</form>