<div class="modal-content" ng-controller="SuportModalTicketCtrl">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel">Crear Ticket</h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                        <label for="title">Titulo</label>
                        <input type="text" class="form-control" ng-model="title" placeholder="Nombre"> 
                        <label for="author">Titulo</label>
                        <input type="text" class="form-control" ng-model="author" placeholder="Autor">           
                        <label for="description">Descripción</label>
                        <textarea type="text" class="form-control" ng-model="description" placeholder="Descripción"></textarea>
                        <label for="asigned_to">Asignado a:</label>
                        <input type="text" class="form-control" ng-model="asiged_to" placeholder="asigado a ">
                        
                        <label for="type">tipo:</label>
                        <input type="text" class="form-control" ng-model="type" placeholder="tipo">
                        <label for="priority">prioridad:</label>
                        <input type="text" class="form-control" ng-model="priority" placeholder="prioridad">
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save();$dismiss() ">Guardar</button>
    </div>
</div>