<form>
    <div class="form-group">

        <label for="position">Cargo</label>
        <input type="text" class="form-control" ng-model="partner.details.contacts.position" placeholder="Cargo en el partner">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" ng-model="partner.details.contacts.name" placeholder="Nombre del Contacto">

        <label for="emails">Emails</label>
        <input class="form-control" ng-model="partner.details.contacts.emails" type="text" placeholder="Agregar emails">
        <label for="phones">Teléfonos</label>
        <input class="form-control" ng-model="partner.details.contacts.phones" type="text" placeholder="Agregar Telfonos">
    </div>
    <button type="button" class="btn btn-danger" ng-click="editInfo('contacts')">Add</button>
</form>