<div>
    <div class="add-row-editable-table">
        <button class="btn btn-primary" data-toggle="modal" ng-click="open('app/pages/partners/widgets/edit.details.branchs.modal.html', 'lg')">Crear Sucursal</button>
    </div>

    <div class="horizontal-scroll">
        <table class="table table-hover">
            <thead>
                <tr class="black-muted-bg">


                    <th>Nombre</th>
                    <th class="align-right">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key , item) in partner.details.branchs" class="no-top-border">

                    <td>{{item.name}}</td>
                    <td class="align-right">
                        <button class="btn btn-xs btn-success btn-raised" ng-click="viewBranch(key)">view</button>
                        <button class="btn btn-xs btn-primary btn-raised" ng-click="editBranch(key)">edit</button>
                        <button class="btn btn-xs btn-danger btn-raised" ng-click="deleteBranch(key)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>