<form>
    <h3>Estos datos no seran publicados (son para uso exclusivo de la dministración de la comunidad)</h3>
    <div class="form-group">
        <label for="companyName">Razón Social</label>
        <input type="text" class="form-control" id="companyName" ng-model="partner.details.basics.companyName" placeholder="Razón Social" </div>
        <label for="CUIT">CUIT</label>
        <input type="text" class="form-control" id="CUIT" ng-model="partner.details.basics.CUIT" placeholder="CUIT">
        <label for="webPage">Página Web</label>
        <input type="text" class="form-control" id="webPage" ng-model="partner.details.basics.webPage" placeholder="Razón Social" </div>
        <label for="email">E Mail</label>
        <input type="text" class="form-control" id="email" ng-model="partner.details.basics.email" placeholder="Email" </div>
    </div>

    <button type="button" class="btn btn-danger" ng-click="editInfo('basics')">Add</button>
</form>