<form ng-controller="CategoriesCtrl">
    <div class="form-group">
        <label for="code">Código</label>
        <input type="text" class="form-control" id="code" ng-model="code" placeholder="Código">
        <label for="name">Nombre de la categoría</label>
        <input type="text" class="form-control" id="name" ng-model="name" placeholder="name">
        <input ng-model="tags" type="text" tag-input="primary" data-role="tagsinput" placeholder="Add Tag">

    </div>

    <button type="button" class="btn btn-danger" ng-click="onClickAdd()">Add</button>
</form>