<div ng-controller="CategoriesCtrl">
    <div class="add-row-editable-table">
        <button class="btn btn-primary" ng-click="addCategory()">Crear Categoria</button>
    </div>
    <div class="horizontal-scroll">
        <table class="table table-hover">
            <thead>
                <tr class="black-muted-bg">

                    <th>codigo</th>
                    <th>Nombre</th>
                    <th>Tags</th>
                    <th class="align-right">Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key, item) in categories" class="no-top-border">

                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.tags}}</td>
                    <td class="align-right">

                        <button class="btn btn-xs btn-primary btn-raised" ng-click="view(key)">view</button>
                        <button class="btn btn-xs btn-warning btn-raised" ng-click="edit(key)">edit</button>
                        <button class="btn btn-xs btn-danger btn-raised" ng-click="delete(key)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>