<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
        <h4 class="modal-title" id="myModalLabel">View Categoria</h4>
    </div>
    <div class="modal-body">

        <h3>code: {{category.code}}</h3>
        <h2>Nombre: {{category.name}}</h2>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cerrar</button>
    </div>
</div>